@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,500&display=swap');

body {
  	margin: 0; line-height: normal;
}


.button {
  	width: 100%;
  	height: 48px;
  	position: relative;
  	background-color: rgba(255, 255, 255, 0.1);
  	border: 2px solid #fff;
  	box-sizing: border-box;
  	text-align: left;
  	font-size: 14px;
  	color: #fff;
  	font-family: 'Jost', sans-serif;
}
.exploreCollection {
  	position: relative;
  	top: 14px;
  	text-align: center;
  	letter-spacing: 2.1px;
  	line-height: 20px;
  	font-weight: 500;
}
.icon {
  	position: absolute;
  	top: 16px;
  	left: 298.58px;
  	width: 16px;
  	height: 16px;
}

