/* Move @import to the top of the file */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400&display=swap');

body {
  	margin: 0; line-height: normal;
}


.header {
  	width: 100%;
  	height: 113px;
  	position: relative;
  	background-color: rgba(255, 255, 255, 0.95);
  	border-bottom: 1px solid rgba(229, 229, 229, 0.5);
  	box-sizing: border-box;
  	text-align: left;
  	font-size: 14px;
  	color: #1a1a1a;
  	font-family: 'Jost', sans-serif;
}
.paragraph {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #000;
  	width: 1920px;
  	height: 32px;
  	text-align: center;
  	font-size: 12px;
  	color: #fff;
}
.freeShippingOn {
  	position: absolute;
  	top: 8px;
  	left: calc(50% - 264px);
  	letter-spacing: 2.4px;
  	line-height: 16px;
}
.navigation {
  	position: absolute;
  	top: 63.5px;
  	left: 50px;
  	height: 20px;
  	display: flex;
  	align-items: center;
}
.buttonParent {
  	display: flex;
  	align-items: center;
  	gap: 33px;
}
.button {
  	height: 20px;
  	width: 49.8px;
  	display: flex;
  	align-items: flex-start;
  	color: #795548;
}
.home {
  	position: relative;
  	letter-spacing: 2.1px;
  	line-height: 20px;
  	font-weight: 500;
}
.headerButton {
  	height: 20px;
  	display: flex;
  	align-items: flex-start;
}
.buttonIcon {
  	position: absolute;
  	top: 44px;
  	left: calc(50% - 100px);
  	width: 200px;
  	height: 59px;
  	object-fit: cover;
}
.headerInner {
  	position: absolute;
  	top: 55.5px;
  	left: 1520px;
  	width: 328px;
  	display: flex;
  	align-items: center;
}
.frameParent {
  	width: 389.8px;
  	display: flex;
  	align-items: center;
  	gap: 32px;
  	flex-shrink: 0;
}
.buttonGroup {
  	display: flex;
  	align-items: center;
  	gap: 32px;
}
.button4 {
  	height: 20px;
  	width: 56px;
  	display: flex;
  	align-items: flex-start;
}
.button5 {
  	height: 20px;
  	width: 77.8px;
  	display: flex;
  	align-items: flex-start;
}
.container {
  	height: 36px;
  	flex: 1;
  	position: relative;
}
.buttonContainer {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: flex;
  	align-items: center;
  	gap: 16px;
}
.headerButtonIcon {
  	height: 36px;
  	width: 36px;
}

