@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400&display=swap');

body {
  	margin: 0; line-height: normal;
}

.textStyle {
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
	color: rgba(255, 255, 255, 0.6);
	letter-spacing: 1.8px;
	
}

.ageGroups {
width: 106px;
height: 16px;
position: relative;
font-size: 12px;
letter-spacing: 1.8px;
line-height: 16px;
font-family: 'Jost', sans-serif;
color: #ffd448;
text-align: right;
display: inline-block;
}

.container {
height: 1px;
flex: 1;
width: 100%;
position: relative;
background-color:#FFFFFF33;
}

.sophisticatedDesignsFor {
  	width: 310px;
  	height: 23px;
  	position: relative;
  	font-size: 12px;
  	letter-spacing: 0.5px;
  	line-height: 22.75px;
  	font-family: 'Jost', sans-serif;
  	color: rgba(255, 255, 255, 0.9);
  	text-align: left;
  	display: inline-block;
}


